<div class="card">
  <div class="card-header">
    {{pageTitle + ': ' + specialEvent?.name}}
  </div>
  <div class="card-body">
    <div class="row">
    </div>
    <div class="row">
    </div>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>ProgramID</th>
            <th>Event Name</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{specialEvent?.id}}</td>
            <td>{{specialEvent?.name}}</td>
            <td>{{specialEvent?.description}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
